# H1 title
bla
## h2 title
*bla* **blaaa** bla

In [7]:
import pandas as pd
df = pd.read_csv('netflix-sample2.csv')
df.shape

(200, 3)

In [8]:
df.head ()

,Start Time,Duration,Title
0,20/03/2013 05:17,00:00:05,Star Trek: Deep Space Nine: Season 5: Empok No...
1,20/03/2013 04:27,00:44:31,Star Trek: Deep Space Nine: Season 5: Blaze of...
2,20/03/2013 04:05,00:22:06,Star Trek: Deep Space Nine: Season 5: Children...
3,20/03/2013 00:20,00:48:14,The Invisible War
4,20/03/2013 00:10,00:04:51,The Invisible War

In [9]:
df.dtypes

Start Time    object
Duration      object
Title         object
dtype: object

In [11]:
df['Start Time'] = pd.to_datetime(df['Start Time'], utc=True)
dayfirst=True
df.dtypes

Start Time    datetime64[ns, UTC]
Duration                   object
Title                      object
dtype: object